.photo {
    height: 50%;
    width: 50%;
}

#h {
    text-transform: uppercase;
}

#lmk {
    font-weight: bold;
    font-size: 27px;
    float: right;
    text-align: center;
    position: fixed; top:30%; right:10%; 
}

#link {
  position: relative;
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

#link:hover {
  color: #000;
}

#link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: blue;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

#link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#foot, #cr, #plink {
   text-align: center;
}

#plink {
    text-align: center;
    
}
@media only screen and (max-width: 1090px) {

#lmk { 
  display: none;
 }
}

@media (max-width:768px) {
    img {
        max-width: 350px;
        max-height: 414px;
    }
}

